.projectListContainer{
    width: 100vw;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.projectImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 100%;
}

.projectImg{
    object-fit: fill;
    object-position: center;
    height: 45%;
    width: 45%;
    cursor: newCursor;
    padding: 10px;
    align-self: center;
    min-width: 300px;
}

.projectImg:hover{
    height: 55%;
    width: 55%;
}