.section__form--main-input::placeholder{
    font-family: 'Fira Sans', sans-serif;
    color: #fff5c0;
    
}

.section__form--input::placeholder{
    font-family: 'Fira Sans', sans-serif;
    color: #fff5c0; 
}